<section id="intro">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                <div class="section-title">
                  <h2>About Me</h2>
                  <p>Few decisions in life have a very little to no impact on how we live. But where we live, now tihs, this has a massive impact on our life! My passion is to serve you, and help you find your next dream home.</p>
                </div>
                <p>Born in Englewood, Colorado, I am a full blown Colorado native! I am the closest you come to being Coloradan! </p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="block">
                <img src="img/wrapper-img.png" alt="Img">
              </div>
            </div><!-- .col-md-5 close -->
          </div>
        </div>
      </section>
      
      
      
      <!-- Service Start -->
      <section id="service">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Our Services</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="icon ion-coffee"></i>
                <h4>Branding</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-compass"></i>
                <h4>Web Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-image"></i>
                <h4>App Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-bug"></i>
                <h4>Start Up</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-headphone"></i>
                <h4>Logo Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-leaf"></i>
                <h4>Development</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-planet"></i>
                <h4>Brand Identity</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="service-item">
                <i class="ion-earth"></i>
                <h4>Brand Identity</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
              </div>
            </div>
          </div>
        </div>
      </section>